* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: crimson;
}
.container div {
  width: 80%;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  border: 1px dotted gray;
}
::-webkit-scrollbar-thumb {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  border-radius: 100px;
}
@media (max-width: 540px) {
  .container div {
    width: 100%;
    background-color: white;
    padding: 1rem;
    margin: 0.5rem;
  }
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    border: 1px dotted gray;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    border-radius: 100px;
  }
}
